<%- include("header") -%>

<div class="box heading">
  <h1>  <%= listTitle %> </h1>
  <h2> <%= date %> </h2>
</div>

<!-- delete section -->
<div class="box">
  <% newListItems.forEach(function(item) { %>
  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkBoxOnChange" value="<%=item._id%>" onChange="this.form.submit()">
      <p><%=  item.name  %></p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>"></<input>
  </form>
  <% }) %>

<!-- insert section -->
  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="Add new items here" autocomplete="off">
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include("footer") -%>
